<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-toggle>
      <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title>Listar Horas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Listagem de Horas Complementares </ion-list-header>

    <ion-item *ngFor="let disciplina of disciplinas">
      <ion-avatar slot="start">
        <img src="../../assets/developer.png" />
      </ion-avatar>
      <ion-label>
        <h2>Curso: {{ disciplina.nome }}</h2>
        <h3>Horas Totais: {{ disciplina.horasComplementares }}</h3>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>