<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-toggle>
      <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title>Listar Horas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header> Listagem das Minhas Horas</ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/developer.png" />
      </ion-avatar>
      <ion-label>
        <h2>Nome: {{ aluno?.nome }}</h2>
        <h3>Curso: {{ aluno?.curso_obj?.nome }}</h3>
        <h3>Horas Feitas: {{ aluno?.horasCompletadas }}</h3>
        <h3>Horas Totais: {{ aluno?.curso_obj?.horasTotais }}</h3>
        
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>