<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-toggle>
      <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title>Registrar Horas Complementares</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-list-header>Registrar Horas - Adicionando Uma Hora</ion-list-header>
  <ion-item>
    <ion-label for="horasCompletadas" >Horas Completadas: </ion-label>
    <ion-input type="text" id="horasCompletadas" name="horasCompletadas" [ngModel]="aluno?.horasCompletadas" required readonly>
    </ion-input>
  </ion-item> 
  <ion-item>
    <ion-label>Digite o Código:</ion-label>
    <ion-input type="text" [(ngModel)]="codToken"></ion-input>
    <ion-button expand="full" id="onAdd" (click)="onSetHoras()">Registrar</ion-button>
  </ion-item>
</ion-list>
</ion-content>
