<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-menu-toggle>
      <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
      </ion-menu-toggle>
  </ion-buttons>
  <ion-title>Registrar Horas Complementares</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-list-header>Registrar Horas</ion-list-header>
  <ion-item>
    <ion-label>Digite o Código:</ion-label>
    <ion-input></ion-input>
    <ion-button expand="full">Registrar</ion-button>
  </ion-item>
</ion-list>
</ion-content>
