<ion-content>
  <ion-list>
    <ion-list-header> Listagem de Horas Complementares </ion-list-header>

    <ion-item *ngFor="let disciplina of disciplinas">
      <ion-avatar slot="start">
        <img src="../../assets/developer.png" />
      </ion-avatar>
      <ion-label>
        <h2>Curso: {{ disciplina.nome }}</h2>
        <h3>Horas Totais: {{ disciplina.horasTotais }}</h3>
        <h3>Horas Completadas: {{ disciplina.horasCompletadas }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>